<html ng-app="robot">
<head>
    <title>Robot</title>
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="generated/main.css"/>
</head>
<body ng-controller="IndexController as m">
<div class="left-block">
    <table id="chess_board" cellpadding="0" cellspacing="0">
        <tr ng-repeat="h in m.horizontalNumbers">
            <td ng-repeat="v in m.verticalNumbers" id="{{h}}{{v}}">
                <a href="#" ng-if="m.isFoodPosition([h,v])" class="apple">&#127822;</a>
                <a href="#" ng-if="m.position[0] == h && m.position[1] == v" class="bug">&#128027;</a>
            </td>
        </tr>
    </table>
</div>
<div class="right:block">
    <div style="float: left;margin-left: 50px">
        <input type="button" ng-click="m.addFood()" value="Add Food"/>
        <div>
            <span ng-repeat-n="m.eaten">&#127822;</span>
        </div>
        <div>{{m.goodDecisions}}
            <!--<p ng-repeat="item in m.goodDecisions">{{item}}: {{m.goodDecisions[item]}}</p>-->
        </div>

    </div>
</div>
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-repeat-n/dist/angular-repeat-n.js"></script>
<!-- endbower -->
<script src="generated/main.js"></script>
</body>
</html>